body {
  font-family: Zilla Slab, monospace;
  margin: auto;
  font-size: 100%;
  background-color: #191a1a;
}

.app-div {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

/*  Navbar */
#nav-container {
  flex: initial;
  width: 100%;
  background: #191a1a;
}

nav {
  padding: 0px 50px;
  height: 103px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

#nav-links {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 250px;
}

#nav-links a {
  font-family: Zilla Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #cbd2d3;
}

.logo-img {
  width: 50%;
}

/* MAPBOX ITEMS */
.map-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mapWrapper {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Controls */
.mapboxgl-ctrl-geocoder {
  width: 200px !important;
  margin-right: 30px !important;
}

.mapboxgl-ctrl-directions {
  margin-top: 215px !important;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  /* width: 280px !important; */
}

.mapboxgl-ctrl-attrib-button {
  display: none !important;
}

/* Longitude-Latitude-Zoom bottom info */
.sidebarStyle {
  display: inline-block;
  position: absolute;
  bottom: 15px;
  right: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}
/* For Data Layers */
#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 55px;
  right: 10px;
  margin-right: 20px;
  border-radius: 3px;
  width: 239px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}

#menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #3887be;
  color: #ffffff;
}

#menu a.active:hover {
  background: #3074a4;
}

/* OurStory Component */
#story-container {
  background-image: url('images/black-and-white-walking-alone.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.story-content {
  height: 55%;
  width: 43%;
  min-width: 680px;
  float: right;
}

.yellow-radial {
  float: right;
  background-color: #b9934d;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 0px 650px;
}

.yellow-radial h1 {
  margin: 0;
  padding: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 36px;
  text-align: right;
  word-wrap: break-word;
}

span.quote {
  white-space: pre;
}

.yellow-radial p {
  margin: 0;
  padding-right: 2em;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  text-align: right;
  min-width: 680px;
  white-space: pre;
}

@media screen and (max-width: 600px) {
  div.yellow-radial {
    font-size: 12px;
    padding-right: 10px;
  }
}

/* Tips Component */
#tips-container {
  background-image: url('images/tips-background.png');
  background-size: cover;
  background-position: top left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tips-content {
  height: 70%;
  width: 33%;
  min-width: 680px;
  float: left;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  color: #b9934d;
  padding-left: 50px;
  padding-right: 50px;
}

.tips-content h1 p {
  margin: 0;
  line-height: 20px;
  text-align: right;
  word-wrap: break-word;
  white-space: normal;
}

.tips-content h1 {
  font-family: Zilla Slab Highlight;
  font-weight: normal;
  font-size: 1.875em;
}

.tips-content p {
  font-family: 'New Courier', Courier, monospace;
  font-variant: small-caps;
  font-size: 1.25em;
}

.tip {
  width: 50%;
  padding-right: 20px;
}

.tips-source {
  font-family: Zilla Slab, monospace;
  color: grey;
  width: 600px;
  bottom: 0px;
  padding-left: 50px;
  position: absolute;
}

@media screen and (max-width: 600px) {
  div.tips-content {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    font-size: 16px;
    padding-right: 10px;
    height: 95%;
  }
  .tips-source {
    width: 400px;
  }
}
